@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");


body{
	color: #000000;
}

h1{
	font-size: 1.2em;
}

ul {
	list-style: none;
	padding: 0;
}

li{
	margin-top: 5px;
	margin-bottom: 5px;
}


.font-alert{
	color:#ff0000;
}

.font-small{
	font-size: 0.7em;
}

.font-large{
	font-size: 1.2em;
}

.textright{
	text-align: right;
}

.submenu h1 {
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
}

.w-200px{
	width:200px;
}


.h-200px{
	height:200px;
}

.div_centering{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.font-50px{
	font-size: 50px;
	font-weight:900;
}



.font-25px{
	font-size: 25px;
	font-weight:900;
}

input .text-center{
	text-align: center;
}

