<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{header :: common_header(~{::title})}">
<title>備品管理システム - 備品追加</title>
</head>
<body lang="ja">
	<div th:replace="~{header :: header}"></div>
	<div class="container">
		<form th:action="@{/add}" th:object="${tool}" method="post">
			<div class="row">
				<!-- LendID -->
				<div class="col mb-3">
					<label th:for="lendId">備品ID（自動採番）</label> <input type="text" th:field="*{lendId}" th:id="*{lendId}" class="form-control" readonly>
				</div>
				<!-- カテゴリ -->
				<div class="col mb-3">
					<label th:for="category">カテゴリ</label> <select th:field="*{category}" th:id="*{category}" class="form-control">
						<option value="0">選択してください</option>
						<option th:each="cat: ${categoryList}" th:value="${cat.catNumber}" th:text="${cat.catName}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<!-- メーカー -->
				<div class="col mb-3">
					<label th:for="maker">製品メーカー</label> <input type="text" th:field="*{maker}" th:id="*{maker}" class="form-control">
				</div>
				<!-- 一般名or型式 -->
				<div class="col mb-3">
					<label th:for="specification">一般名or型式</label> <input type="text" th:field="*{specification}" th:id="*{specification}" class="form-control">
				</div>
			</div>
			<div class="row">
				<!-- 管理名称 -->
				<div class="mb-3">
					<label th:for="managementName">管理名称</label> <input type="text" th:field="*{managementName}" th:id="*{managementName}" class="form-control">
				</div>
			</div>
			<div class="row">
				<!-- 追加情報 -->
				<div class="mb-3">
					<label th:for="anotherInfo">追加情報</label> <input type="text" th:field="*{anotherInfo}" th:id="*{anotherInfo}" class="form-control">
				</div>
			</div>
			<div class="row">
				<!-- 保管/常備場所 -->
				<div class="mb-3">
					<label th:for="keepPlace">保管/常備場所</label> <input type="text" th:field="*{keepPlace}" th:id="*{keepPlace}" class="form-control">
				</div>
			</div>
			<div class="row">
				<!-- 備考 -->
				<div class="mb-3">
					<label th:for="remarks">備考</label>
					<textarea th:field="*{remarks}" th:id="*{remarks}" class="form-control"></textarea>
				</div>
			</div>
			<div class="textright">
				<input type="submit" class="btn btn-primary" value="確認画面へ"> <input type="reset" class="btn btn-outline-danger" value="内容クリア">
			</div>
			<input type="hidden" name="stat" value="0">
		</form>
	</div>
	<div th:replace="~{footer :: footer}"></div>
	<script>
		let cat = document.querySelector('#category')
		cat.onchange = event => {
			// console.log(cat.options[cat.selectedIndex].value);
			getManageNumber(cat.options[cat.selectedIndex].value);
		}
	</script>
</body>
</html>