<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{header :: common_header(~{::title})}">
<title>備品管理システム - 貸出/返却</title>
</head>
<body lang="ja">
	<div th:replace="~{header :: header}"></div>
	<div class="container overflow-hidden">
		<div id="submenu">
			<h1>貸出/返却</h1>
			<th:block th:each="m : ${msg}">
				<div th:text="${m.getMessage()}" class="alert"
					th:classappend="|${m.getMsgCategory == T(com.kmountain.comp_tool_manager.controller.bean.MessageBean).CAT_INFO ? 'alert-primary' : ''} 
					${m.getMsgCategory == T(com.kmountain.comp_tool_manager.controller.bean.MessageBean).CAT_WARN ? 'alert-warning' : ''} 
					${m.getMsgCategory == T(com.kmountain.comp_tool_manager.controller.bean.MessageBean).CAT_ERR ? 'alert-danger' : ''}
					${m.getMsgCategory == T(com.kmountain.comp_tool_manager.controller.bean.MessageBean).CAT_CRI ? 'alert-danger' : ''}|">
				</div>
			</th:block>
			<form th:action="@{/lendqr}" th:object="${qrform}" method="post">
				<div class="row justify-content-center">
					<div class="col-md-auto">
						<label for="number" class="font-25px">備品番号</label>
					</div>
				</div>
				<div class="row justify-content-center" style="margin-bottom: 30px;">
					<div class="col-md-auto">
						<input type="text" th:field="*{itemNumber}" class="font-25px text-center">
					</div>
				</div>

				<div class="row justify-content-center" style="margin-bottom: 30px;">
					<div class="col-md-auto">
						<select class="font-25px" th:field="*{user}">
							<option value="" selected>選択してください</option>
							<option value="067202">山本 啓太</option>
						</select>
					</div>
				</div>

				<div class="row justify-content-center" style="margin: 10px">
					<div class="col-auto">
						<input type="radio" th:field="*{lendcat}" class="btn-check" autocomplete="off" th:value="kashi_dashi"> <label
							th:for="${#ids.prev('lendcat')}" class="btn btn-outline-primary w-200px h-200px div_centering font-50px">貸出</label>
					</div>
					<div class="col-auto">
						<input type="radio" th:field="*{lendcat}" class="btn-check" autocomplete="off" th:value="hen_kyaku"> <label
							th:for="${#ids.prev('lendcat')}" class="btn btn-outline-danger w-200px h-200px div_centering font-50px">返却</label>
					</div>
				</div>
				<!-- 
				<input type="submit">
				 -->
			</form>
		</div>
	</div>
	<div th:replace="~{footer :: footer}"></div>
	<!-- 
	
	Enterでのサブミット
	ユーザ未選択時のModalウインドウの表示
	 -->
	<!-- Button trigger modal 	-->
	<button type="button" class="invisible" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">入力値エラー</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">貸出ユーザを選択してください。</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>