<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{header :: common_header(~{::title})}">
<title>備品管理システム - 貸出/返却</title>
</head>
<body lang="ja">
	<div th:replace="~{header :: header}"></div>
	<div class="container">
		<div id="submenu">
			<h1>備品検索</h1>
			<form th:object="${searchform}" th:action="@{/lend}" th:method="POST">
				<div class="row">
					<div class="col mb-3">
						<label th:for="category">大分類</label> <select th:field="*{category}" th:id="*{category}" class="form-select" aria-label="備品カテゴリ">
							<option value="0">選択してください</option>
							<option th:each="category : ${categoryList}" th:value="${category.catNumber}" th:text="${category.catName}"></option>
						</select>
					</div>
					<div class="col mb-3">
						<label th:for="subCategory">中分類</label> <select th:field="*{subCategory}" class="form-select" aria-label="備品カテゴリ">
							<option value="0">選択してください</option>
						</select>
					</div>
					<div class="col mb-3">
						<label th:for="sSubCategory">小分類</label> <select th:field="*{sSubCategory}" class="form-select" aria-label="備品カテゴリ">
							<option value="0">選択してください</option>
						</select>
					</div>
				</div>
				<div class="textright">
					<input type="submit" class="btn btn-primary" value="検索">
				</div>
			</form>
		</div>
	</div>
	<div th:replace="~{footer :: footer}"></div>
	<script>

		let cat = document.querySelector('#category')
		let scat = document.querySelector('#subCategory')
		let sscat = document.querySelector('#sSubCategory')
		
		// 中分類の設定
		cat.onchange = event =>{
			// console.log(cat.options[cat.selectedIndex].value);
			if(cat.options[cat.selectedIndex].value == 0){
				removeAll(scat.querySelectorAll('option'));
				removeAll(sscat.querySelectorAll('option'));
				scat.appendChild(createOptionItem('選択してください', '0'));
				sscat.appendChild(createOptionItem('選択してください', '0'));
				document.getElementById('lendId').value = "";
				return false;
			}
			getSubCategory(cat.options[cat.selectedIndex].value);
		}
		
		// 小分類の設定
		scat.onchange = event =>{
			if(scat.options[scat.selectedIndex].value == 0){
				removeAll(sscat.querySelectorAll('option'));
				sscat.appendChild(createOptionItem('選択してください', '0'));
				document.getElementById('lendId').value = "";
				return false;
			}
			console.log(scat.options[scat.selectedIndex].value)
			getSub2Category(cat.options[cat.selectedIndex].value, scat.options[scat.selectedIndex].value);
		}
		</script>
</body>
</html>