<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{header :: common_header(~{::title})}">
<title>備品管理システム - 備品管理</title>
</head>
<body lang="ja">
	<div th:replace="~{header :: header}"></div>
	<div class="container">
		<div id="submenu">
			<h1>備品貸出</h1>
			<ul>
				<li>
					<a th:href="@{/lend}">備品貸出/返却</a> <span class="font-alert font-small">※タグ貸出実装予定</span>
				</li>
			</ul>
			<ul>
				<li>
					<a th:href="@{/lendqr}">備品貸出/返却(QR)</a> <span class="font-alert font-small"></span>
				</li>
			</ul>
		</div>
		<div id="submenu">
			<h1>備品管理</h1>
			<ul>
				<li>
					<a th:href="@{/add}">備品追加</a>
				</li>
				<li>
					<a th:href="@{/remove}">備品削除</a><span class="font-alert font-small">(※削除は基本的に利用しません。)</span>
				</li>
			</ul>
		</div>
		<div id="submenu">
			<h1>備品一覧</h1>
			<th:block th:if="${data != null && data.size != 0} ">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ステータス</th>
							<th>管理名</th>
							<th>備品概要</th>
							<th>保管場所</th>
						</tr>
					</thead>
					<th:block th:each="row : ${data}">
						<tbody>
							<tr>
								<td th:text="${row.lendStatus.lendStatus}"></td>
								<td th:text="${row.managementName}"></td>
								<td th:text="${row.anotherInfo}"></td>
								<td th:text="${row.keepPlace}"></td>
							</tr>
						</tbody>
				</table>
			</th:block>
		</div>
		<th:block th:each="row : ${data}">
			<div th:text="${row}"></div>
		</th:block>
	</div>

	<div th:replace="~{footer :: footer}"></div>
</body>
</html>