<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="~{header :: common_header(~{::title})}">
<title>備品管理システム - 備品削除確認</title>
</head>
<body lang="ja">
	<div th:replace="~{header :: header}"></div>
	<div class="container">
		<form th:action="@{/remove/execute}" th:method="POST" th:object="${rf}">
			<h1>備品削除確認</h1>
			<th:block th:if="${removeItems != null && removeItems.size != 0} ">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>備品番号</th>
							<th>ステータス</th>
							<th>管理名</th>
							<th>備品概要</th>
							<th>保管場所</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="row : ${removeItems}">
							<tr>
								<td th:text="${row.lendId}"></td>
								<td th:text="${row.lendStatus.lendStatus}"></td>
								<td th:text="${row.managementName}"></td>
								<td th:text="${row.anotherInfo}"></td>
								<td th:text="${row.keepPlace}"></td>

							</tr>
						</th:block>
					</tbody>
				</table>
				<th:block th:each="row : ${removeItems}">
					<input type="hidden" name="removeItem" th:value="${row.lendId}">
				</th:block>
				<button type="submit">確認画面へ</button>
			</th:block>
		</form>
	</div>
	<div th:replace="~{footer :: footer}"></div>
</body>
</html>