spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/manager
    username: root
    password: rootpass
  messages:
    fallback-to-system-locale: false
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      
logging:
  file:
    name: logs/spring-boot.log
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
          EnumType: TRACE